<!doctype html>
<html class="no-js" lang="ua">

<head>
    {{> head/head head.defaults}}
</head>

<body>
    %=symbols=%

    <div class="uk-page" id="app">

        <div class="uk-page-header">
            {{> header/header dealers=false}}
        </div>

        <div class="uk-page-body">
            <div class="uk-section uk-section-research">
                <div class="uk-container">
                    <div class="uk-grid" data-uk-grid>
                        <div class="uk-width-3-4">
                            <h1 class="uk-heading">Масиви</h1>
                            <div class="uk-grid uk-grid-divider uk-child-width-1-1 uk-grid-arrays" data-uk-grid>
                                <div>
                                    <a href="#" class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-secondary">Політика</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-secondary">Політика</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-secondary">Політика</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-secondary">Політика</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-secondary">Політика</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-secondary">Політика</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-danger">Вибори 2019</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-secondary">Політика</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="#" class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-secondary">Політика</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <span class="uk-label uk-label-secondary">Політика</span>
                                        </div>
                                        <h3 class="uk-card-title">Політико-виховна робота у вищому навчальному закладі
                                        </h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-for="research in research.data">
                                    <a v-bind:href="research.link" class="uk-card uk-card-array">
                                        <div class="uk-labels">
                                            <div v-for="category in research['_embedded']['wp:term'][1]"
                                                class="uk-label uk-label-secondary">
                                                ${category.name}</div>
                                        </div>
                                        <h3 class="uk-card-title">${research.title.rendered}</h3>
                                        <div class="uk-grid uk-grid-small uk-grid-divider" data-uk-grid>
                                            <div class="uk-width-1-1">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Метод збору даних:</div>
                                                    <div class="uk-card-meta-value">Формалізоване інтерв'ю за місцем
                                                        проживання</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Дата збору даних:</div>
                                                    <div class="uk-card-meta-value">2018 рік, вересень</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Обсяг вибірки:</div>
                                                    <div class="uk-card-meta-value">455 родин</div>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-3">
                                                <div class="uk-card-meta">
                                                    <div class="uk-card-meta-label">Виконавець:</div>
                                                    <div class="uk-card-meta-value">
                                                        <div class="uk-labels">
                                                            <span class="uk-label-default">КМІС</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="uk-load-more uk-margin-medium-top">
                                <button v-on:click.prevent="getResearch" type="button" class="uk-load-more-trigger"
                                    v-bind:class="{ 'uk-fetching': research.isFetching }">
                                    <div class="uk-load-more-text">Дивитись більше</div>
                                    <div class="uk-spinner" data-uk-spinner></div>
                                </button>
                            </div>
                        </div>
                        <div class="uk-width-1-4">
                            <div class="uk-bar">
                                <div class="uk-bar-body">
                                    <div class="uk-categories">
                                        <div class="uk-categories-title">За темою:</div>
                                        <div class="uk-categories-list">
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category uk-hot">Вибори 2019</a>
                                            </div>
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category uk-active">Політика</a>
                                            </div>
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category">Економіка</a>
                                            </div>
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category">Релігія</a>
                                            </div>
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category">Сім’я</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-categories">
                                        <div class="uk-categories-title">За організацією:</div>
                                        <div class="uk-categories-list">
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category">КМІС</a>
                                            </div>
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category">Рейтинг</a>
                                            </div>
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category">Центр Разумкова</a>
                                            </div>
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category">Сіціальний Моніторинг</a>
                                            </div>
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category">Східноукраїнський Фонд соціальних
                                                    досліджень</a>
                                            </div>
                                            <div class="uk-categories-item">
                                                <a href="#" class="uk-category">GfK Ukraine</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="quote">
                                <div class="quote-body">
                                    Відповідь одного дурня з вулиці нікого не хвилює. Але відповіді сотні дурнів
                                    називаються результатом дослідження фокус-групи і продаються за гроші.
                                </div>
                                <div class="quote-footer">
                                    <div class="quote-author">
                                        <div class="quote-author-name">Артемій Лєбєдєв</div>
                                        <div class="quote-author-avatar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="frame frame-facebook">
                                <img src="%=static=%img/content/frame-facebook.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-page-footer">
            {{> footer/footer visible=true}}
        </div>

    </div>

    {{> scripts/scripts}}
</body>

</html>
