.uk-categories {}

*+.uk-categories {
    margin-top: 38px;
}

.uk-categories-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #7A797F;
    margin-bottom: 8px;
}

.uk-categories-item+.uk-categories-item {
    border-top: 1px solid rgba(51, 49, 59, 0.1);
}

.uk-category {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.uk-category.uk-hot {
    color: @global-danger-background;
}

.uk-category.uk-active {
    color: @global-color;
}
