<!DOCTYPE html>
<html class="no-js" lang="ua">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta content="telephone=no" name="format-detection">
        <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
        <meta name="HandheldFriendly" content="true">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500,700&display=swap&subset=cyrillic" rel="stylesheet">


        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->

        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="500" />
        <meta property="og:image:height" content="300" />
        <meta property="twitter:description" content="" />
        <link rel="image_src" href="" />

        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function (H) {
                H.className = H.className.replace(/\bno-js\b/, 'js')
            })(document.documentElement)
        </script>

        <script>
            window.wp_api = "http://sau.fulltime.com.ua/wp-json/wp/v2";
        </script>
    </head>

    <body>


        <div class="uk-page" id="app">
            <div class="uk-page-body">
                <div class="uk-container">
                    <h1>Ajaxer test</h1>
                    <posts type="research" :page="1" :limit="1" :params="{ category_theme_exclude: 1 }" :filters="['[category_theme]=vybori-2019']" :data="{ hot_id: '17', string: 'lorem ipsum', list: [1,2,3], number: 1 }" inline-template>
                        <div>
                            <div>
                                ${data.hot_id}, ${data.string + ' Hello!'}, ${data.number + 2}
                            </div>
                            <div v-for="i in data.list">
                                <div>${i}</div>
                            </div>
                            <div v-if="false" class="uk-grid uk-child-width-1-3" data-uk-grid>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h3 class="uk-card-title">Default</h3>
                                        <p>
                                            Lorem ipsum
                                            <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h3 class="uk-card-title">Default</h3>
                                        <p>
                                            Lorem ipsum
                                            <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h3 class="uk-card-title">Default</h3>
                                        <p>
                                            Lorem ipsum
                                            <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h3 class="uk-card-title">Default</h3>
                                        <p>
                                            Lorem ipsum
                                            <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h3 class="uk-card-title">Default</h3>
                                        <p>
                                            Lorem ipsum
                                            <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-grid uk-child-width-1-3" data-uk-grid>
                                <div v-for="post in posts" class="uk-width-1-1">
                                    <div class="uk-card uk-card-default uk-card-body">
                                        <h3 class="uk-card-title" v-html="post.title.rendered"></h3>
                                        <div v-for="category in post['_embedded']['wp:term'][0]">
                                            ${data.hot_id === category.id}
                                        </div>
                                        <div>${post.date | formatDate}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-load-more uk-margin-medium-top">
                                <button v-on:click.prevent="next" type="button" class="uk-load-more-trigger" v-bind:class="{ 'uk-fetching': isFetching }">
                                    <div class="uk-load-more-text">
                                        Дивитись більше
                                    </div>
                                    <div class="uk-spinner" data-uk-spinner></div>
                                </button>
                            </div>
                        </div>
                    </posts>
                </div>
            </div>
        </div>


        <script>
            svg4everybody();
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="static/js/main.min.js"></script>
    </body>

</html>
