<!doctype html>
<html class="no-js" lang="ua">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta content="telephone=no" name="format-detection">
        <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
        <meta name="HandheldFriendly" content="true">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500,700&display=swap&subset=cyrillic" rel="stylesheet">


        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->

        <meta property="og:title" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="500" />
        <meta property="og:image:height" content="300" />
        <meta property="twitter:description" content="" />
        <link rel="image_src" href="" />

        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function (H) {
                H.className = H.className.replace(/\bno-js\b/, 'js')
            })(document.documentElement)
        </script>

    </head>

    <body>


        <div class="uk-page" id="app">

            <div class="uk-page-header">
                <div class="uk-header">
                    <div class="uk-navbar-top">
                        <div class="uk-container">
                            <div class="uk-navbar-secondary">
                                <div class="uk-navbar-left">
                                    <ul class="uk-navbar-secondary-nav">
                                        <li class="uk-active"><a href="#">Масиви</a>
                                        </li>
                                        <li><a href="#">Проекти</a>
                                        </li>
                                        <li><a href="#">Про САУ</a>
                                        </li>
                                        <li><a href="#">Контакти</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="uk-navbar-right">
                                    <ul class="uk-navbar-secondary-nav">
                                        <li><a href="#">Заявка на членство в САУ</a>
                                        </li>
                                        <li>
                                            <div><a href="#" class="uk-button uk-button-primary">Акредитовані САУ організації</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-navbar-primary uk-light">
                        <nav class="uk-navbar-container">
                            <div class="uk-container">
                                <div class="uk-navbar" data-uk-navbar>
                                    <div class="uk-navbar-left">
                                        <a class="uk-logo uk-logo-secondary" href="#">
                                            <div class="uk-logo-image uk-logo-inverse">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="86" height="32" fill="none">
                                                    <path fill="currentColor" d="M76.888.478L65.415 11.736 63.053.478H55.63L59 17.774l-7.757 8.949V.478h-8.099l-24.43 25.04h-2.8c-5.5 0-8.301-2.797-7.323-7.744 1.147-5.697 3.24-7.88 6.007-9.86 3.205-2.285 7.592-2.967 12.856-1.057l5.601-5.527C32.11.785 26.172 0 22.763 0 18.343 0 13.74 1.248 10.5 3.5c-4.758 3.207-7.51 6.871-9.164 14.342C-.486 25.962 5.183 32 13.518 32c.64 0 8.368-.102 8.368-.102L43.651 9.996l1.856.068-.338 9.893h-7.086l-6.411 6.141h13.497v5.8h9.786L85.999.512h-9.11V.478z"
                                                    />
                                                </svg>
                                            </div>
                                            <div class="uk-logo-description uk-logo-inverse">Портал Cоціологічної асоціації України
                                            </div>
                                        </a>
                                    </div>
                                    <div class="uk-navbar-right">
                                        <ul class="uk-navbar-nav">
                                            <li class="uk-active"><a href="#">Вибори 2019</a>
                                            </li>
                                            <li><a href="#">Дослідження</a>
                                            </li>
                                            <li><a href="#">Експертна думка</a>
                                            </li>
                                            <li><a href="#">Публікації</a>
                                            </li>
                                            <li><a href="#">Заходи</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="uk-page-body">
                <div class="uk-section uk-section-research">
                    <div class="uk-container">
                        <div class="uk-grid" data-uk-grid>
                            <div class="uk-width-3-4">
                                <h1 class="uk-heading">Дослідження: Політика</h1>
                                <div class="uk-grid uk-grid-small uk-child-width-1-2 uk-grid-research" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <a href="#" class="uk-card uk-card-research-primary">
                                            <div class="uk-card-background">
                                                <img src="static/img/content/image-01.jpg" alt="">
                                            </div>
                                            <div class="uk-card-foreground">
                                                <div class="uk-card-top">
                                                    <div class="uk-labels">
                                                        <div class="uk-label uk-label-danger">ВИБОРИ 2019</div>
                                                    </div>
                                                </div>
                                                <div class="uk-card-bottom">
                                                    <div class="uk-labels">
                                                        <div class="uk-label-default">КМІС:</div>
                                                    </div>
                                                    <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                    результататми виборів президента України 2019</h3>
                                                    <div class="uk-date">18 квітня 2019 року</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research">
                                            <div class="uk-card-top">
                                                <img src="static/img/content/image-01.jpg" alt="">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-danger">ВИБОРИ 2019</div>
                                                </div>
                                            </div>
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label-default">КМІС:</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research">
                                            <div class="uk-card-top">
                                                <img src="static/img/content/image-01.jpg" alt="">
                                                <div class="uk-labels">
                                                    <div class="uk-label">Релігія</div>
                                                </div>
                                            </div>
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label-default">Рейтинг:</div>
                                                </div>
                                                <h3 class="uk-card-title">Гендерний аналіз викликів у експортній діяльності
                                                для українських мікро-, малих та середніх підприємств (ММСП) </h3>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research">
                                            <div class="uk-card-top">
                                                <img src="static/img/content/image-01.jpg" alt="">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-danger">ВИБОРИ 2019</div>
                                                </div>
                                            </div>
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label-default">КМІС:</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research">
                                            <div class="uk-card-top">
                                                <img src="static/img/content/image-01.jpg" alt="">
                                                <div class="uk-labels">
                                                    <div class="uk-label">Релігія</div>
                                                </div>
                                            </div>
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Гендерний аналіз викликів у експортній діяльності
                                                для українських мікро-, малих та середніх підприємств (ММСП) </h3>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research">
                                            <div class="uk-card-top">
                                                <img src="static/img/content/image-01.jpg" alt="">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-danger">ВИБОРИ 2019</div>
                                                </div>
                                            </div>
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label-default">КМІС:</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research">
                                            <div class="uk-card-top">
                                                <img src="static/img/content/image-01.jpg" alt="">
                                                <div class="uk-labels">
                                                    <div class="uk-label">Релігія</div>
                                                </div>
                                            </div>
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label-default">Рейтинг:</div>
                                                </div>
                                                <h3 class="uk-card-title">Гендерний аналіз викликів у експортній діяльності
                                                для українських мікро-, малих та середніх підприємств (ММСП) </h3>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <hr class="uk-margin-medium">
                                <div class="uk-heading-secondary">Читайте також:</div>
                                <div class="uk-grid uk-grid-divider uk-grid-small uk-child-width-1-1 uk-grid-research-secondary" data-uk-grid>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-secondary">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-secondary">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-secondary">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-secondary">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-danger">ВИБОРИ 2019</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-secondary">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-secondary">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-secondary">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-secondary">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="#" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div class="uk-label uk-label-secondary">Релігія</div>
                                                </div>
                                                <h3 class="uk-card-title">Порівняння опитувань та екзит-полів з
                                                результататми виборів президента України 2019</h3>
                                                <div class="uk-label-default">КМІС:</div>
                                                <div class="uk-date">18 квітня 2019 року</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div v-for="research in research.data">
                                        <a v-bind:href="research.link" class="uk-card uk-card-research-secondary">
                                            <div class="uk-card-body">
                                                <div class="uk-labels">
                                                    <div v-for="category in research['_embedded']['wp:term'][0]" v-if="category.slug !== 'uncategorized'" class="uk-label uk-label-secondary">
                                                        ${category.name}</div>
                                                </div>
                                                <h3 class="uk-card-title">${research.id}: ${research.title.rendered}</h3>
                                                <div class="uk-labels">
                                                    <div v-for="category in research['_embedded']['wp:term'][1]" class="uk-label-default">
                                                        ${category.name}</div>
                                                </div>
                                                <div class="uk-date">${research.date | formatDate}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="uk-load-more">
                                    <button v-on:click.prevent="getResearch" type="button" class="uk-load-more-trigger" v-bind:class="{ 'uk-fetching': research.isFetching }">
                                        <div class="uk-load-more-text">Дивитись більше</div>
                                        <div class="uk-spinner" data-uk-spinner></div>
                                    </button>
                                </div>
                            </div>
                            <div class="uk-width-1-4">
                                <div class="uk-bar">
                                    <div class="uk-bar-body">
                                        <div class="uk-categories">
                                            <div class="uk-categories-title">За темою:</div>
                                            <div class="uk-categories-list">
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category uk-hot">Вибори 2019</a>
                                                </div>
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category uk-active">Політика</a>
                                                </div>
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category">Економіка</a>
                                                </div>
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category">Релігія</a>
                                                </div>
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category">Сім’я</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-categories">
                                            <div class="uk-categories-title">За організацією:</div>
                                            <div class="uk-categories-list">
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category">КМІС</a>
                                                </div>
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category">Рейтинг</a>
                                                </div>
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category">Центр Разумкова</a>
                                                </div>
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category">Сіціальний Моніторинг</a>
                                                </div>
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category">Східноукраїнський Фонд соціальних
                                                    досліджень</a>
                                                </div>
                                                <div class="uk-categories-item">
                                                    <a href="#" class="uk-category">GfK Ukraine</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="quote">
                                    <div class="quote-body">
                                        Відповідь одного дурня з вулиці нікого не хвилює. Але відповіді сотні дурнів називаються результатом дослідження фокус-групи і продаються за гроші.
                                    </div>
                                    <div class="quote-footer">
                                        <div class="quote-author">
                                            <div class="quote-author-name">Артемій Лєбєдєв</div>
                                            <div class="quote-author-avatar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame frame-facebook">
                                    <img src="static/img/content/frame-facebook.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-page-footer">
                <div class="uk-section uk-section-organizations">
                    <div class="uk-container">
                        <h2 class="uk-heading uk-heading-tertiary uk-text-center uk-margin-medium"><a href="#">Акредитовані САУ
                            організації</a>
                    </h2>
                        <div data-uk-slider class="uk-slider uk-slider-container uk-slider-organizations">

                            <div class="uk-position-relative uk-visible-toggle" tabindex="-1">

                                <ul class="uk-slider-items uk-grid uk-grid-large uk-flex-middle" data-uk-grid>
                                    <li>
                                        <img src="static/img/content/logo-01.png" alt="">
                                    </li>
                                    <li>
                                        <img src="static/img/content/logo-02.png" alt="">
                                    </li>
                                    <li>
                                        <img src="static/img/content/logo-03.png" alt="">
                                    </li>
                                    <li>
                                        <img src="static/img/content/logo-04.png" alt="">
                                    </li>
                                    <li>
                                        <img src="static/img/content/logo-05.png" alt="">
                                    </li>
                                    <li>
                                        <img src="static/img/content/logo-01.png" alt="">
                                    </li>
                                    <li>
                                        <img src="static/img/content/logo-02.png" alt="">
                                    </li>
                                    <li>
                                        <img src="static/img/content/logo-03.png" alt="">
                                    </li>
                                    <li>
                                        <img src="static/img/content/logo-04.png" alt="">
                                    </li>
                                    <li>
                                        <img src="static/img/content/logo-05.png" alt="">
                                    </li>
                                </ul>

                            </div>

                            <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>

                        </div>
                    </div>
                </div>
                <footer class="uk-footer uk-light">

                    <div class="uk-footer-top">
                        <div class="uk-container">
                            <div class="uk-footer-navs">
                                <div class="uk-footer-left">
                                    <a class="uk-logo uk-logo-default" href="#">
                                        <div class="uk-logo-image uk-logo-inverse">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="86" height="32" fill="none">
                                                <path fill="currentColor" d="M76.888.478L65.415 11.736 63.053.478H55.63L59 17.774l-7.757 8.949V.478h-8.099l-24.43 25.04h-2.8c-5.5 0-8.301-2.797-7.323-7.744 1.147-5.697 3.24-7.88 6.007-9.86 3.205-2.285 7.592-2.967 12.856-1.057l5.601-5.527C32.11.785 26.172 0 22.763 0 18.343 0 13.74 1.248 10.5 3.5c-4.758 3.207-7.51 6.871-9.164 14.342C-.486 25.962 5.183 32 13.518 32c.64 0 8.368-.102 8.368-.102L43.651 9.996l1.856.068-.338 9.893h-7.086l-6.411 6.141h13.497v5.8h9.786L85.999.512h-9.11V.478z"
                                                />
                                            </svg>
                                        </div>
                                        <div class="uk-logo-description uk-logo-inverse">Портал Cоціологічної асоціації України
                                        </div>
                                    </a>
                                </div>
                                <div class="uk-footer-right">
                                    <ul class="uk-footer-nav-secondary">
                                        <li><a href="#">Масиви</a>
                                        </li>
                                        <li><a href="#">Проекти</a>
                                        </li>
                                        <li><a href="#">Про САУ</a>
                                        </li>
                                        <li><a href="#">Контакти</a>
                                        </li>
                                    </ul>
                                    <ul class="uk-footer-nav-primary">
                                        <li class="uk-active"><a href="#">Вибори 2019</a>
                                        </li>
                                        <li><a href="#">Дослідження</a>
                                        </li>
                                        <li><a href="#">Експертна думка</a>
                                        </li>
                                        <li><a href="#">Публікації</a>
                                        </li>
                                        <li><a href="#">Заходи</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-footer-bottom">
                        <div class="uk-container">
                            <div class="uk-footer-row">
                                <div class="uk-footer-actions">
                                    <div class="uk-footer-actions-left">
                                        <div class="uk-socials">
                                            <a href="#" class="uk-social">
                                                <div class="uk-social-icon"><span data-uk-icon="facebook"></span>
                                                </div>
                                                <div class="uk-social-title">Facebook</div>
                                            </a>
                                            <a href="#" class="uk-social">
                                                <div class="uk-social-icon"><span data-uk-icon="twitter"></span>
                                                </div>
                                                <div class="uk-social-title">Telegram</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="uk-footer-actions-right">
                                        <div class="uk-grid uk-grid-large uk-flex-middle">
                                            <div>
                                                <button class="uk-button uk-button-link">Заявка на членство в САУ</button>
                                            </div>
                                            <div><a href="#" class="uk-button uk-button-primary">Акредитовані САУ організації</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-footer-row">
                                <div class="uk-copyrightes">
                                    <div class="uk-copyright">
                                        <div class="uk-copyright-title">© 2019 «Cоціологічна асоціація України»</div>

                                        <div class="uk-copyright-rules">
                                            <div class="uk-copyright-label">Використання матеріалів сайту можливо з дотриманням</div>
                                            <div><a href="#">Правил користування сайтом</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="uk-copyright-dev">
                                        <div class="uk-copyright-label">Розробка сайту:</div>
                                        <div>Центр веб-комунікацій, Харківського національного університету імені В.Н. Каразіна</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </footer>
            </div>

        </div>


        <script>
            svg4everybody();
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

        <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="static/js/main.min.js"></script>
    </body>

</html>
